---
const { img } = Astro.props;
---
<div class="slider-wrapper">
  
  <img id="slider-img" class="slider-img" src={img[0]} alt="Imagen de fondo" />
</div>

<script type="module" is:inline>
  const images = JSON.stringify(img);
  let current = 0;
  const sliderImg = document.getElementById("slider-img");

  setInterval(() => {
    current = (current + 1) % images.length;
    if (sliderImg) {
      sliderImg.classList.add("fade-out");
      setTimeout(() => {
        sliderImg.src = images[current];
        sliderImg.classList.remove("fade-out");
      }, 500);
    }
  }, 4000);
</script>

<style>
  .slider-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  .slider-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.5s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
  }

  .fade-out {
    opacity: 0;
  }
</style>
