  <div class="backgroundImage flex items-center justify-center h-[80vh] text-center relative">
    <div class="overlay"></div>
    <div class="text-white flex items-center justify-center flex-col relative z-10">
      <h1 class="text-sm">AVIATRAINING AND TECHNOLOGY S.C F-150</h1>
      <h2 class="text-">FORMA PARTE DE NUESTRA ACADEMIA DE <br> AVIACIÓN</h2>
      <button class="flex justify-center items-center gap-2">
        VER MÁS
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20" height="20" color="#000000" fill="none">
          <path d="M18 9.00005C18 9.00005 13.5811 15 12 15C10.4188 15 6 9 6 9" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
      </button>
    </div>
  </div>



<style>
.backgroundImage {
  background-image: url('/public/img/Cessna/Cessna2.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 70vh;
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.text-white h1 {
  font-size: 1rem;
  font-weight: 400;
}

.text-white h2 {
  font-size: 1.75rem;
  font-weight: 700;
  margin-top: 0.5rem;
}

button {
  margin-top: 1.5rem;
  padding: 0.75rem 1.5rem;
  background-color: #ffffff;
  color: #000000;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.curve {
  position: absolute;
  bottom: 0; /* Asegura que esté al fondo */
  left: 0; 
  width: 100%; /* Hace que el SVG ocupe todo el ancho */
  height: auto; /* Ajusta la altura automáticamente */
}
</style>
