<nav class="text-white">
  <div class="flex justify-center items-center w-full">
        <div class="flex items-center justify-between gap-72 h-20">
            <!-- Logo -->
            <div class="flex-shrink-0">
              <img src="/public/img/Logo_avia_blanco.png" alt="Logo de AVIA">
            </div>
            <!-- Sections -->
            <div class="hidden md:block">
                <div class="ml-5 flex items-baseline space-x-4">
                    <a href="#" class="text-gray-white hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">INICIO</a>
                    <a href="#" class="text-gray-white hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">NOSOTROS</a>
                    <a href="#" class="text-gray-white hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">CURSOS</a>
                    <a href="#" class="text-gray-white hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">CONTACTO</a>
                    <a href="#" class="text-gray-white hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">SISTEMA AVIA</a>
                </div>
            </div>
        </div>
    </div>
</nav>


<style>
  a{
    font-size: 0.7rem
  }

  img{
    height: 4.5rem
  }
</style>
