
<nav class="text-white" transition:animate="none">
  <div class="flex justify-center items-center w-full">
    <div class="flex items-center justify-between gap-72 h-20">
      <div class="flex-shrink-0">
        <a href="/">
          <img src="/img/Logo_avia_blanco.png" alt="Logo de AVIA">
        </a>
      </div>
      <div class="hidden md:block">
        <div class="cursor-pointer ml-5 flex items-baseline space-x-4">
          <a href="/" class="cursor-pointer text-gray-white hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">INICIO</a>
          <a href="/#about-us" class="text-gray-white hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium cursor-pointer">NOSOTROS</a>
          <a href="/#courses" class="cursor-pointer text-gray-white hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">CURSOS</a>
          <a href="/#contact-us" class="cursor-pointer text-gray-white hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">CONTACTO</a>
          <a href="https://aviafly.site" class="cursor-pointer text-gray-white hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">SISTEMA AVIA</a>
        </div>
      </div>
    </div>
  </div>
</nav>

<style>
  a {
    font-size: 0.7rem;
  }

  img {
    height: 4.5rem;
  }
</style>
