---
const images = Object.keys(
  import.meta.glob('/public/img/Sobrecargo/*.{jpg,jpeg,png,gif,webp}', { as: 'url' })
);
---

<section class="flex justify-center items-start">
  <div class="intra-cont">
    <div class="masonry-gallery">
      {images.map((src) => (
        <img src={src} alt="Galería" loading="lazy" />
      ))}
    </div>
  </div>
</section>

<style>
  .intra-cont {
    width: 80%;
    margin: 0 auto;
  }

  .masonry-gallery {
    column-count: 3;
    column-gap: 1rem;
  }

  .masonry-gallery img {
    width: 100%;
    height: auto; /* La imagen mantendrá su proporción natural */
    margin-bottom: 1rem;
    object-fit: contain; /* Mostrar la imagen completa sin recortar */
    border-radius: 10px;
    display: block;
  }

  @media only screen and (max-width: 768px) {
    .masonry-gallery {
      column-count: 2;
    }
  }

  @media only screen and (max-width: 480px) {
    .masonry-gallery {
      column-count: 1;
    }
  }
</style>
