<section class="center">
  <div class="intra grid grid-cols-2 gap-5">
<div class="performance">
  <h4 class="font-semibold text-xl">INVERSIÓN</h4>
  <ul class="font-bold" style="color: #090C2B;" class="mt-5">
    <li>Inscripción <span class="line"></span> <span class="price">$4,640.00</span></li>
    <li>Permiso de formación <span class="line"></span> <span class="price">$3,500.00</span></li>
    <li>Mensualidades c/u (5) <span class="line"></span> <span class="price">$5,975.00</span></li>
    <li><small class="text-gray-400">El total de las mensualidades incluye uniforme, cursos de Ditching, Primeros Auxilios y Uso de Extintores</small></li>
    <li>Curso aeromédico <small class="text-gray-400">(El precio es variable
segun el grupo de alumnos)</small> <span class="line"></span> <span class="price">$____</span></li>
    <li>Orden de examen teórico <span class="line"></span> <span class="price">$5,300.00</span></li>
    <li>Orden de examen práctico <span class="line"></span> <span class="price">$5,700.00</span></li>
    <li>Expedición de licencia <span class="line"></span> <span class="price">$5,200.00</span></li>
  </ul>
</div>
    <div class="performance">
      <h4 class="font-semibold text-xl">Extras</h4>
      <ul style="color: #090C2B;" class="mt-5">
        <li>Uniforme <span class="line"></span> <span class="price">$1,500</span></li>
        <li>Examen Extraordinario <span class="line"></span> <span class="price">$580</span></li>
      </ul>
    </div>
  </div>
</section>

<style>
  section {
    height: 40vh;
  }

  .intra {
    width: 55%;
    height: 90%;
  }

  .general ul, .performance ul {
    padding-left: 0;
  }

  .performance li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
  }

  .performance li .price {
    margin-left: 10px;
    position: relative;
  }

  .performance li .line {
    flex-grow: 1;
    height: 1px;
    border-bottom: 1px dashed #CCCCCC;
    margin: 0 10px;
  }

  li {
    font-size: 1rem;
    position: relative;
    font-style: bold;
  }

  .general ul{
    list-style-type: disc;
  }


  @media only screen and (max-width: 599px) {
    .intra{ 
      width: 90%;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
    }

    section{
      height: 50vh;
    }
  }
</style>
